.atie-calendar, .atie-calendar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calendar-wrap {
    position: absolute;
    left: 0;
    top: 0;
}
.atie-calendar-mask {
    position: fixed;
    height: 100%;
    width: 100%;
}
.atie-calendar {
    position: relative;
    outline: none;
    width: 280px;
    border: 1px solid #fff;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    background-clip: padding-box;
    line-height: 1.5;
}
.atie-calendar-input-wrap {
    height: 34px;
    padding: 6px 10px;
    border-bottom: 1px solid #e8e8e8;
}
.atie-calendar-input {
    border: 0;
    width: 100%;
    cursor: auto;
    outline: 0;
    height: 22px;
    color: rgba(0,0,0,.65);
    background: #fff;
}
.atie-calendar-date-panel {
    position: relative;
}
.atie-calendar-header {
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #e8e8e8;
}
.atie-calendar-header>div>a {
    position: absolute;
    top: 0;
    font-size: 12px;
    cursor: pointer;
}
.atie-calendar-header>div>a:hover {
    color: #1890ff;
}
.atie-calendar-prev-year-btn {
    left: 7px;
}
.atie-calendar-prev-month-btn {
    left: 36px;
}
.atie-calendar-next-year-btn {
    right: 7px;
}
.atie-calendar-next-month-btn {
    right: 36px;
}
.atie-calendar-ym-select {
    font-weight: 500;
}
.atie-calendar-body {
    padding: 8px 12px;
}
.atie-calendar table, .atie-calendar td, .atie-calendar th {
    border: 0;
    text-align: center;
}
.atie-calendar table {
    border-collapse: collapse;
    max-width: 100%;
    background-color: transparent;
    width: 100%;
}
.atie-calendar thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.atie-calendar tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.atie-calendar tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.atie-calendar-column-header .atie-calendar-column-header-inner {
    display: block;
    font-weight: 400;
}
.atie-calendar-cell {
    padding: 3px 0;
    height: 30px;
    cursor: pointer;
}
.atie-calendar-selected-day .atie-calendar-date {
    background: #d1e9ff;
}
.atie-calendar-last-month-cell .atie-calendar-date, .atie-calendar-next-month-btn-day .atie-calendar-date {
    color: rgba(0,0,0,.25);
}
.atie-calendar-today .atie-calendar-date {
    border-color: #1890ff;
    font-weight: 700;
    color: #1890ff;
}
.atie-calendar-selected-date .atie-calendar-date, .atie-calendar-selected-start-date .atie-calendar-date, .atie-calendar-selected-end-date .atie-calendar-date {
    background: #1890ff;
    color: #fff;
    border: 1px solid transparent;
}
.atie-calendar-date {
    display: block;
    margin: 0 auto;
    color: rgba(0,0,0,.65);
    border-radius: 2px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border: 1px solid transparent;
    padding: 0;
    background: transparent;
    text-align: center;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}
.atie-calendar-footer {
    border-top: 1px solid #e8e8e8;
    line-height: 38px;
    padding: 0 12px;
}
.atie-calendar-footer-btn {
    text-align: center;
    display: block;
}
.atie-calendar .atie-calendar-today-btn {
    display: inline-block;
    text-align: center;
    color: #1890ff;
    cursor: pointer;
}