<%# Material is a clean HTML5 theme for LuCI. It is based on luci-theme-bootstrap and MUI luci-theme-material
	Copyright2015-2017 Lutty Yang <lutty@wcan.in>
	Have a bug? Please create an issue here on GitHub!
	https://github.com/LuttyYang/luci-theme-material/issues

	luci-theme-bootstrap:
		Copyright 2008 Steven Barth <steven@midlink.org>
		Copyright 2008-2016 Jo-Philipp Wich <jow@openwrt.org>
		Copyright 2012 David Menting <david@nut-bolt.nl>

	MUI:
		https://github.com/muicss/mui

		Licensed to the public under the Apache License 2.0
-%>

<% 
	local sys=require "luci.sys"
	local util=require "luci.util"
	local http=require "luci.http"
	local disp=require "luci.dispatcher"
	local ver=require "luci.version"

	local boardinfo=util.ubus("system", "board" ) or { }

	local node=disp.context.dispatched
	local path=table.concat(disp.context.path, "-" )

	http.prepare_content("text/html; charset=UTF-8") 
-%>

<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,viewport-fit=cover" />
		<link rel="manifest" href="<%=media%>/manifest.json">
		<title>
			<%=striptags( (boardinfo.hostname or "OpenWrt" ) .. ( (node and node.title) and ' - ' .. translate(node.title) or '' )) %> - LuCI
		</title>
		<meta name="format-detection" content="telephone=no, email=no" />
		<meta name="x5-fullscreen" content="true">
		<meta name="full-screen" content="yes">
		<meta name="x5-page-mode" content="app">
		<meta name="browsermode" content="application">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="default" />
		<meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
		<meta name="application-name" content="<%=striptags( (boardinfo.hostname or "OpenWrt") ) %> - LuCI">
		<meta name="apple-mobile-web-app-title" content="<%=striptags( (boardinfo.hostname or "OpenWrt") ) %> - LuCI">
		<meta name="msapplication-TileImage" content="<%=media%>/images/icon.png" />
		<link rel="icon" href="<%=media%>/images/icon.png" sizes="192x192">
		<link rel="apple-touch-icon" sizes="192x192" href="<%=media%>/images/icon.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes" />
		<meta name="msapplication-TileColor" content="#09c">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="stylesheet" href="<%=media%>/css/style.css?v=<%= ver.luciversion %>">
		<script src="<%=media%>/js/jquery.min.js?v=3.5.1"></script>
		<link rel="shortcut icon" href="<%=media%>/favicon.ico">
		<% if node and node.css then %>
			<link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
		<% end -%>
		<script src="<%=url('admin/translations', luci.i18n.context.lang)%><%# ?v=PKG_VERSION %>"></script>
		<script src="<%=resource%>/cbi.js"></script>
		<script src="<%=resource%>/luci.js?v=<%=ver.luciversion%>"></script>
		<% if css then %>
			<style title="text/css">
				<%= css %>
			</style>
		<% end -%>
		<script src="<%=media%>/js/jquery.min.js?v=<%= ver.luciversion %>"></script>
		<script src="<%=media%>/js/design.js?v=<%= ver.luciversion %>"></script>
	</head>

	<body class="lang_<%=luci.i18n.context.lang%> <% if luci.dispatcher.context.authsession then %>logged-in<% end %> <% if not (path == "") then %>node-<%= path %><% else %>node-main-login<% end %>" data-page="<%= pcdata(path) %>">
		<header>
			<div class="fill">
				<div class="container">
					<span class="showSide"></span>
					<a class="brand" href="#">
						<%=striptags(boardinfo.hostname or "OpenWrt")%>
					</a>
					<div class="status" id="indicators"></div>
				</div>
			</div>
		</header>

		<div class="main">
			<div style="" class="loading">
				<span>
					<div class="loading-img"></div>
					<%:Collecting data...%>
				</span>
			</div>
			<div class="main-left" id="mainmenu" style="display:none"></div>
			<div class="main-right">
				<div class="modemenu-buttons" style="display:none">
					<ul id="modemenu"></ul>
				</div>
				<div class="darkMask"></div>
				<div id="maincontent">
					<div class="container">
						<%- if luci.sys.process.info("uid")==0 and luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") and path ~="admin-system-admin-password" then -%>
						<%- end -%>
					<noscript>
						<div class="alert-message warning">
							<h4>
								<%:JavaScript required!%>
							</h4>
							<p>
								<%:You must enable JavaScript in your browser or LuCI will not work properly.%>
							</p>
						</div>
					</noscript>

					<div id="tabmenu" style="display:none"></div>
					<script src="<%=media%>/js/style.js?v=<%=ver.luciversion%>"></script>
