[submodule "themes/luci-theme-edge"]
	path = themes/luci-theme-edge
	url = https://github.com/kiddin9/luci-theme-edge
[submodule "applications/luci-app-wizard"]
	path = applications/luci-app-wizard
	url = https://github.com/kiddin9/luci-app-wizard
[submodule "applications/luci-app-advanced"]
	path = applications/luci-app-advanced
	url = https://github.com/sirpdboy/luci-app-advanced
[submodule "applications/luci-app-argon-config"]
	path = applications/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config
