[submodule "themes/luci-theme-edge"]
	path = themes/luci-theme-edge
	url = https://github.com/kiddin9/luci-theme-edge
[submodule "applications/luci-app-wizard"]
	path = applications/luci-app-wizard
	url = https://github.com/kiddin9/luci-app-wizard
