[submodule "themes/luci-theme-edge"]
	path = themes/luci-theme-edge
	url = https://github.com/kiddin9/luci-theme-edge
[submodule "applications/luci-app-argon-config"]
	path = applications/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config
[submodule "applications/luci-app-chatgpt-web"]
	path = applications/luci-app-chatgpt-web
	url = https://github.com/sirpdboy/luci-app-chatgpt-web
[submodule "applications/luci-app-nikki"]
	path = applications/luci-app-nikki
	url = https://github.com/nikkinikki-org/OpenWrt-nikki
[submodule "applications/luci-app-shortcutmenu"]
	path = applications/luci-app-shortcutmenu
	url = https://github.com/doushang/luci-app-shortcutmenu
[submodule "applications/luci-app-ssr-plus"]
	path = applications/luci-app-ssr-plus
	url = https://github.com/fw876/helloworld
[submodule "applications/luci-app-homeproxy"]
	path = applications/luci-app-homeproxy
	url = https://github.com/douglarek/luci-app-homeproxy
[submodule "applications/luci-app-homebridge"]
	path = applications/luci-app-homebridge
	url = https://github.com/shanglanxin/luci-app-homebridge
[submodule "applications/luci-app-store"]
	path = applications/luci-app-store
	url = https://github.com/linkease/istore
[submodule "applications/luci-app-nezha-agent-v1"]
	path = applications/luci-app-nezha-agent-v1
	url = https://github.com/SFGZS888/OpenWRT_NeZha_V1
