<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>
<link rel="stylesheet" href="/luci-static/resources/datepicker.css">
    <script src="/luci-static/resources/datepicker.js"></script>
<script>
    Calendar.create({
        classN: 'cbi-input-calendar',
        callBack: function(bindElem, dateObj) {
            bindElem.value = dateObj.year + '-' + dateObj.month + '-' + dateObj.date;
        }
    })
</script>

<% include("themes/" .. theme .. "/footer") %>