#smsTable {
  width: 100%;
  border: 1px solid var(--border-color-medium) !important;
}

th, td {
  padding: 10px;
  text-align: justify !important;
  vertical-align: top !important;
}

td input[type="checkbox"] {
  float: left !important;
  margin: 0 auto  !important;
  width: 17px  !important;
}

#smsTable tr:nth-child(odd) td{
  background: var(--background-color-medium) !important;
  border-bottom: 1px solid var(--border-color-medium) !important;
  border-top: 1px solid var(--border-color-medium) !important;
}

#smsTable tr:nth-child(even) td{
  border-bottom: 1px solid var(--border-color-medium) !important;
  border-top: 1px solid var(--border-color-medium) !important;
}

#smsTable .checker {
  width: 7%;
}

#smsTable .from {
  width: 11%;
}

#smsTable .received {
  width: 15%;
}

#smsTable .message {
  width: 88%;
}
