<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[xupnpd]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('xupnpd_status');
		if (data && tb) {
			if (data.running) {
				tb.innerHTML = '<em style=\"color:green\"><b>XUPNPD <%:RUNNING%></b></em>' + "&nbsp;&nbsp;&nbsp;&nbsp;<input class=\"btn cbi-button cbi-button-apply \" type=\"button\" value=\" <%:Open Web Interface%> \" onclick=\"window.open('http://" + window.location.hostname + ":" + 4044 + "/')\" />";
			} else {
				tb.innerHTML = '<em><b><font color=red>XUPNPD <%:NOT RUNNING%></font></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="xupnpd_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>